.badge {
	padding: 0.3rem 0.4rem 0.3rem 0.4rem;
	border-radius: 1rem;
	font-size: 0.75rem;
	font-weight: bold;
	transition:
		width ease-in-out 0.25s,
		gap ease-in-out 0.25s;
	background-color: var(--badge-bg);
	border: 1px solid var(--badge-border);
	color: var(--badge-fg);
}

.badge:hover {
	background-color: var(--badge-hover-bg);
}

.badge-highlight {
	animation: spin 1s ease infinite;
}
